.case-study-wrap {
    margin: 0 auto;
    grid-column: 1 / -1;
    z-index: 1;

    .case-study-grid-set {
        @include grid-twenty-four;
        margin-bottom: 120px;
        @media only screen and (min-width:834px) {
            margin-bottom: 240px;
        }
    }

    .paragraph-position {
        margin-bottom: 60px;
    }

    .sticky-boy {
        z-index: 2;
    }

    h3 {
        @include paragraph-xxl ($font-sans-200, left, 200);
        margin-bottom: 90px;
        position: relative;

        @media only screen and (min-width:834px) {
            margin-bottom: 180px;
        }
        @media only screen and (min-width:1280px) {
            margin-bottom: 240px;
        }

        span {
            // position: sticky;
            display: block;
            margin-bottom: 15px;
            @include span-large ($font-sans-400, left, 400);

            @media only screen and (min-width:550px) {
                margin-bottom: 30px;
            }

        }
    }

    p {
        align-self: start;
        @include paragraph-xl ($font-sans-200, left, 200);
        margin-top: 45px;
        @media only screen and (min-width:834px) {
            margin-top: 120px;
        }

        span {
            display: block;
            margin-bottom: 15px;
            @include span-large ($font-sans-400, left, 400);

            @media only screen and (min-width:550px) {
                margin-bottom: 30px;
            }

        }
        a {
            .iod-page & {
                color: $color-iod;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
    picture {
        display: block;
        img {
            width: 100%;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .side-image {
        margin-bottom: 120px;
        @media only screen and (min-width:834px) {
            margin-bottom: 240px;
        }
    }
    .body-image {
        grid-area: auto / 2 / span 1 / span 10;
        margin-bottom: 90px;

        @media only screen and (min-width:834px) {
            grid-area: auto /3 / span 1 / span 18;
            margin-bottom: 120px;
        }

        @media only screen and (min-width:1280px) {
            margin-bottom: 120px;
            grid-area: auto / 5 / span 1 / span 16;
        }
    }

    &.app-hero {
        max-width: 1482px;
        margin-top: 90px;
        &.mercury-earn {
            img {
                animation: shake 1s infinite ease;
            }
        }

        .sticky-boy {
            @media only screen and (min-width:834px) {
                position: sticky;
                top: 240px;
            }
        }

        @media only screen and (min-width:1280px) {
            margin-top: 120px;
        }

        .text-position {
            grid-area: auto / 2 / span 1 / span 10;

            @media only screen and (min-width:550px) {
                margin-top: 60px;
            }

            @media only screen and (min-width:834px) {
                grid-area: auto / 11 / span 1 / span 13;
                margin-top: 6vw;
            }

            @media only screen and (min-width:1280px) {
                grid-area: auto / 11 / span 1 / span 13;
            }
        }
        picture {
            grid-area: auto / 2 / span 1 / span 10;

            @media only screen and (min-width:550px) {
                grid-area: auto / 3 / span 1 / span 8;
            }

            @media only screen and (min-width:834px) {
                grid-area: 1 / 2 / span 1 / span 8;
            }

            @media only screen and (min-width:1280px) {
                grid-area: 1 / 2 / span 1 / span 8;
            }
        }
    }

    &.app-info-left {
        max-width: 1482px;

        .sticky-boy {
            position: sticky;
            top: 45px;
            @media only screen and (min-height:600px) and (min-width:834px) {
                top: 210px;
            }
        }

        h3 {
            grid-area: auto / 2 / span 1 / span 10;

            @media only screen and (min-width:834px) {
                grid-area: auto / 3 / span 1 / span 18;
                // padding: 15px 0 15px 30px;
            }

            @media only screen and (min-width:1280px) {
                grid-area: auto / 3 / span 1 / span 18;
            }

            // Cool branded vertical line
            // Cool branded vertical line
            // Cool branded vertical line
            // @media only screen and (min-width:834px) {
            //     .mercury-go-page & {
            //         border-left: 1px solid rgba($color-mercury-go, .2);
            //     }

            //     .iod-page & {
            //         border-left: 1px solid rgba($color-iod, .2);
            //     }

            //     .mercury-kog-page & {
            //         border-left: 1px solid rgba($color-mercury-kog, .2);
            //     }

            //     &::after {
            //         content: ' ';
            //         width: 7px;
            //         height: 7px;
            //         // border-radius: 100%;
            //         background: rgba($primary-2, .4);
            //         position: absolute;
            //         bottom: -8px;
            //         left: -4px;

            //         .mercury-go-page & {
            //             background: rgba($color-mercury-go, 1);
            //         }

            //         .iod-page & {
            //             background: rgba($color-iod, 1);
            //         }

            //         .mercury-kog-page & {
            //             background: rgba($color-mercury-kog, 1);
            //         }
            //     }
            //     &::before {
            //         content: ' ';
            //         width: 7px;
            //         height: 7px;
            //         // border-radius: 100%;
            //         background: rgba($primary-2, .4);
            //         position: absolute;
            //         top: -8px;
            //         left: -4px;

            //         .mercury-go-page & {
            //             background: rgba($color-mercury-go, 1);
            //         }

            //         .iod-page & {
            //             background: rgba($color-iod, 1);
            //         }

            //         .mercury-kog-page & {
            //             background: rgba($color-mercury-kog, 1);
            //         }
            //     }
            // }
            // END - Cool branded vertical line
            // END - Cool branded vertical line
            // END - Cool branded vertical line

        }

        .paragraph-position {
            grid-area: auto / 1 / span 1 / span 6;

            @media only screen and (max-width:834px) {
                padding-left: 7vw;
            }

            @media only screen and (min-width:834px) {
                grid-area: auto / 3 / span 1 / span 10;
            }

            &.positioning-one {
                @media only screen and (min-width:1280px) {
                    grid-area: auto / 3 / span 1 / span 7;
                }
            }

            &.positioning-two {

                @media only screen and (min-width:1280px) {
                    grid-area: auto / 10 / span 1 / span 7;
                }
            }

            &.positioning-three {

                @media only screen and (min-width:1280px) {
                    grid-area: auto / 5 / span 1 / span 7;
                }
            }
        }

        .side-image-container {
            grid-area: auto / 7 / span 1 / span 5;

            @media only screen and (min-width:550px) {
                grid-area: auto / 8 / span 1 / span 4;
            }

            @media only screen and (min-width:834px) {
                grid-area: auto / 16 / span 1 / span 7;
            }

            @media only screen and (min-width:1280px) {
                grid-area: auto / 18 / span 1 / span 6;
            }
        }
    }

    &.app-info-right {
        max-width: 1482px;

        .sticky-boy {
            position: sticky;
            top: 45px;
            @media only screen and (min-height:600px) and (min-width:834px) {
                top: 210px;
            }
        }

        h3 {
            // padding: 15px 0 15px 30px;
            grid-area: auto / 2 / span 1 / span 10;

            @media only screen and (max-width:834px) {
                padding-left: 0;
                padding-right: 0;
            }

            @media only screen and (min-width:834px) {
                grid-area: auto / 3 / span 1 / span 18;
            }

            @media only screen and (min-width:1280px) {
                grid-area: auto / 3 / span 1 / span 18;
            }

            // Cool branded vertical line
            // Cool branded vertical line
            // Cool branded vertical line

            // .mercury-go-page & {
            //     border-left: 1px solid rgba($color-mercury-go, .2);
            // }

            // .iod-page & {
            //     border-left: 1px solid rgba($color-iod, .2);
            // }

            // .mercury-kog-page & {
            //     border-left: 1px solid rgba($color-mercury-kog, .2);
            // }

            // @media only screen and (min-width:834px) {
            //     &::after {
            //         content: ' ';
            //         width: 7px;
            //         height: 7px;
            //         // border-radius: 100%;
            //         background: rgba($primary-2, .4);
            //         position: absolute;
            //         bottom: -8px;
            //         left: -4px;

            //         .mercury-go-page & {
            //             background: rgba($color-mercury-go, 1);
            //         }

            //         .iod-page & {
            //             background: rgba($color-iod, 1);
            //         }

            //         .mercury-kog-page & {
            //             background: rgba($color-mercury-kog, 1);
            //         }
            //     }
            //     &::before {
            //         content: ' ';
            //         width: 7px;
            //         height: 7px;
            //         // border-radius: 100%;
            //         background: rgba($primary-2, .4);
            //         position: absolute;
            //         top: -8px;
            //         left: -4px;

            //         .mercury-go-page & {
            //             background: rgba($color-mercury-go, 1);
            //         }

            //         .iod-page & {
            //             background: rgba($color-iod, 1);
            //         }

            //         .mercury-kog-page & {
            //             background: rgba($color-mercury-kog, 1);
            //         }
            //     }
            // }

            // END - Cool branded vertical line
            // END - Cool branded vertical line
            // END - Cool branded vertical line

        }

        .paragraph-position {
            grid-area: auto / 7 / span 2 / span 6;

            @media only screen and (max-width:834px) {
                padding-right: 7vw;
            }

            @media only screen and (min-width:834px) {
                grid-area: auto / 3 / span 2 / span 10;
            }

            &.positioning-one {
                @media only screen and (min-width:1280px) {
                    grid-area: auto / 11 / span 2 / span 8;
                    margin-bottom: 60px;
                }
            }

            &.positioning-two {

                @media only screen and (min-width:1280px) {
                    grid-area: auto / 16 / span 2 / span 8;
                    margin-bottom: 60px;
                }
            }

            &.positioning-three {

                @media only screen and (min-width:1280px) {
                    grid-area: auto / 14 / span 2 / span 9;
                    margin-bottom: 60px;
                }
            }
        }

        .side-image-container {
            grid-area: auto / 2 / span 1 / span 5;

            @media only screen and (min-width:550px) {
                grid-area: auto / 2 / span 1 / span 4;
            }

            @media only screen and (min-width:834px) {
                grid-area: auto / 16 / span 1 / span 7;
            }

            @media only screen and (min-width:1280px) {
                grid-area: auto / 3 / span 1 / span 6;
            }
        }
    }
}