.navWrap {
    background-image: $Downward-gradient;
    @include grid-twenty-four;
    display: grid;
    mix-blend-mode: difference;
}

.reveal-boy {
    @media only screen and (min-width:834px) {
        position: fixed; /* Make it stick/fixed */
        top: 0; /* Stay on top */
        width: 100%; /* Full width */
        z-index: 3;
        transition: top 1s; /* Transition effect when sliding down (and up) */
        &.active {
            top: -300px;
        }
    }
}

.navPrimaryWrap {
    background-image: none;
    grid-column: 1 / 13;
    grid-row: 1 / -1;
    padding-top: 0;
    padding-bottom: 30px;
    @media only screen and (min-width:834px) {
        grid-column: 1 / 16;
        padding-top: 30px;
        padding-bottom: 90px;
    }
    @media only screen and (min-width:1280px) {
        grid-column: 1 / 19;
    }
    ul {
        @include grid-twenty-four;
        grid-template-rows: repeat(2, 50px);
        @media only screen and (min-width:834px) {
            grid-template-columns: repeat(14, 1fr);
            grid-template-rows: repeat(2, 60px);
        }
        @media only screen and (min-width:1280px) {
            grid-template-columns: repeat(18, 1fr);
            grid-template-rows: repeat(2, 60px);
        }
        li {
            .light-dark-mode {
                width: 18px;
                height: 18px;
                float: right;
                box-shadow: inset 0px 0px 0px 1px $primary-2;
                border-radius: 100%;
                margin-top: 33px;
                overflow: hidden;
                position: relative;
                box-sizing: initial;
                &:hover {
                    box-shadow: inset 0px 0px 0px 1px $primary-2;
                    // box-shadow: inset 0px 0px 0px 2px $primary-2;
                }
                a {
                    box-shadow: none;
                }
                &::after {
                    content: '';
                    width: 27px;
                    height: 27px;
                    background: $primary-2;
                    position: absolute;
                    top: 0;
                    left: 10px;
                    z-index: -1;
                }
            }
            @media only screen and (min-width:834px) {
                &.active {
                    box-shadow: inset -3px 0 0 0 $primary-3;
                    color: $primary-3;
                }

                &:nth-child(odd) {
                    a {

                        box-shadow: inset -1px 0 0 0 $primary-2;
                        transition: all .2s ease-in-out;
                        &:hover {
                            box-shadow: inset -3px 0 0 0 $color-iod;
                            color: $color-iod;
                        }
                    }
                }
                &:nth-child(even) {
                    a {
                        box-shadow: inset -1px 0 0 0 $primary-2;
                        transition: all .2s ease-in-out;
                        &:hover {
                            box-shadow: inset -3px 0 0 0 $color-mercury-go;
                            color: $color-mercury-go;
                        }
                    }
                }
            }
            &:nth-child(1) {
                a {
                    box-shadow: none;
                    transition: color .2s ease-in-out;
                    @include paragraph-large($font-sans-400, left, 400);
                    &:hover {
                        box-shadow: none;
                        color: $primary-3;
                    }
                }
            }

            // CSS GRID STUFF
            // CSS GRID STUFF
            // CSS GRID STUFF

            &:nth-child(1) {
                grid-area: 2 / 2 / span 1 / span 6;
            }
            &:nth-child(2) {
                grid-area: 2 / 6 / span 1 / span 6;
            }
            &:nth-child(3) {
                grid-area: 3 / 1 / span 1 / span 11;
            }
            &:nth-child(4) {
                grid-area: 1 / 1 / span 1 / span 11;
            }
            @media only screen and (min-width:834px) {
                &:nth-child(1) {
                    grid-area: 1 / 2 / span 1 / span 5;
                }
                &:nth-child(2) {
                    grid-area: 2 / 6 / span 1 / span 5;
                }
                &:nth-child(3) {
                    grid-area: 1 / 6 / span 1 / span 5;
                }
                &:nth-child(4) {
                    grid-area: 1 / 11 / span 1 / span 2;
                }
            }
            @media only screen and (min-width:1280px) {
                &:nth-child(1) {
                    grid-area: 1 / 2 / span 1 / span 4;
                }
                &:nth-child(2) {
                    grid-area: 1 / 7 / span 1 / span 3;
                }
                &:nth-child(3) {
                    grid-area: 2 / 7 / span 1 / span 3;
                }
                &:nth-child(4) {
                    grid-area: 1 / 15 / span 1 / span 2;
                }
            }
            a {
                @include paragraph-large($font-sans-200, right, 200);
                line-height: 1.6666666667;
                padding-top: 20px;
                display: block;
                &.active {
                    color: $primary-2;
                }
                @media only screen and (min-width:834px) {
                    padding-right: 20px;
                    padding-top: 30px;
                }
                @media only screen and (min-width:1481px) {
                    padding-right: 30px;
                }
            }
        }
    }
}

.navContactWrap {
    // background-image: $Upward-gradient;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    @media only screen and (min-width:834px) {
        background-image: none;
        position: static;
        grid-column: 16 / 25;
        padding-top: 30px;
    }
    @media only screen and (min-width:1280px) {
        grid-column: 19 / 25;
    }
    ul {
        display: grid;
        @media only screen and (min-width:834px) {
            grid-template-columns: repeat(9, 1fr);
            grid-template-rows: 60px;
        }
        @media only screen and (min-width:1280px) {
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: 60px;
        }
        li {
            &:nth-child(1) {
                grid-area: 1 / 1 / span 1 / span 6;
            }
            @media only screen and (min-width:834px) {
                &:nth-child(1) {
                    grid-area: 1/1/span 1/span 8;
                }
            }
            @media only screen and (min-width:1280px) {
                &:nth-child(1) {
                    grid-area: 1 / 1 / span 1 / span 5;
                }
            }
        }
        a {
            @include paragraph-large($font-sans-200, right, 200);
            padding-top: 20px;
            padding-right: 20px;
            display: block;
            mix-blend-mode: exclusion;
            @media only screen and (min-width:834px) {
                padding-top: 30px;
                padding-right: 0;
                transition: all .2s ease-in-out;
                &:hover {
                    color: $primary-3;
                }
            }
        }
    }
}