.page-title {
    grid-column: 1 / -1;
    width: 100vw;
    overflow: hidden;

    @media only screen and (min-width:834px) {
        grid-column: 1 / 25;
    }

    h1 {
        width: 120%;
        @include page-title(22vw);
        line-height: 1.2;
        margin: 60px 0 0 -10vw;

        @media only screen and (min-width:834px) {
            font-size: 16vw;
            margin: 30vmin 0 0 -10vw;
            width: 120vw;
        }

        .iod-page & {
            color: $color-iod;
            font-size: 42vw;

            @media only screen and (min-width:550px) {
                font-size: 32vw;
            }

            @media only screen and (min-width:1280px) {
                font-size: 18vw;
            }
        }

        .mercury-go-page & {
            color: $color-mercury-go;
            font-size: 22vw;

            @media only screen and (min-width:550px) {
                font-size: 16vw;
            }

            @media only screen and (min-width:1280px) {
                font-size:16vw;
            }
        }
    }
}
