.page-title {
    grid-column: 2 / 12;
    overflow: hidden;

    @media only screen and (min-width:834px) {
        grid-column: 1 / 25;
    }

    h1 {
        @include page-title(16vw);
        line-height: 1.2;
        margin: 60px 0 0 0;
        text-align: left;

        @media only screen and (min-width:550px) {
            text-align: center;
        }

        @media only screen and (min-width:834px) {
            font-size: 16vw;
            margin: 30vmin 0 0 0;
        }

        .iod-page & {
            color: $color-iod;
            font-size: 32vw;

            @media only screen and (min-width:550px) {
                font-size: 26vw;
            }

            @media only screen and (min-width:1280px) {
                font-size: 15vw;
            }
        }

        .mercury-go-page & {
            color: $color-mercury-go;
            font-size: 18vw;

            @media only screen and (min-width:550px) {
                font-size: 10vw;
            }

            @media only screen and (min-width:1280px) {
                font-size:10vw;
            }
        }

        .mercury-kog-page & {
            color: $color-mercury-kog;
            font-size: 16vw;

            @media only screen and (min-width:550px) {
                font-size: 7.5vw;
            }

            @media only screen and (min-width:1280px) {
                font-size:7.5vw;
                margin-top: 35vmin;
            }
        }
    }
}
