.homepage  {
    &.big-text-position {
        margin-bottom: 0;
    }
    h2 {
        margin-bottom: 90px;
    }
    h1 {
        margin-top: 50vh;
        margin-bottom: 150px;
        &.story  {
            font-size: 8vw;
            @media only screen and (min-width:834px) {
                font-size: 8vw;
            }
        }
    }
    p {
        margin-bottom: 180px;
        @include paragraph-xxl(400, left);
        max-width: 60vw;
    }
    ul {
    margin-bottom: 180px;
    }

    li {
        display: block;
        max-width: calc(100vw - 60px);
        padding-top: 30px;
        padding-bottom: 30px;
        @include paragraph-xl(300, left);
        border-bottom: 1px solid rgba($primary-2, 0.2);
        @media only screen and (min-width:834px) {
            max-width: 60vw;
        }
        @media only screen and (min-width:1280px) {
            max-width: 45vw;
        }
        &.list-title {
            margin-bottom: none;
            border-bottom: none;
            @include span-large(700, left);
        }
        &:last-child {
            border-bottom: none;

        }
    }
}