// Fonts


  @font-face {
    font-family: 'heldane-font-medium';
    font-weight: 500;
    src: url('../fonts/hdm/heldane-display-test-medium.woff') format('woff');
  }

  @font-face {
    font-family: 'feijoa-display';
    font-weight: 400;
    src: url('../fonts/feijoa/feijoa-test-display.woff') format('woff');
  }

  @font-face {
    font-family: 'Primary-font-regular';
    font-weight: 400;
    src: url('../fonts/hdm/heldane-display-test-regular.woff') format('woff');
  }

  @font-face {
    font-family: 'font-sans-100';
    font-weight: 100;
    src: url('../fonts/Sohne Test/soehne-test-extraleicht.woff') format('woff');
  }
  @font-face {
    font-family: 'font-sans-200';
    font-weight: 200;
    src: url('../fonts/Sohne Test/soehne-test-leicht.woff') format('woff');
  }
  @font-face {
    font-family: 'font-sans-300-italics';
    font-weight: 100;
    src: url('../fonts/Sohne Test/soehne-test-buch-kursiv.woff') format('woff');
  }
  @font-face {
    font-family: 'font-sans-300';
    font-weight: 300;
    src: url('../fonts/Sohne Test/soehne-test-buch.woff') format('woff');
  }
  @font-face {
    font-family: 'font-sans-400';
    font-weight: 400;
    src: url('../fonts/Sohne Test/soehne-test-kraftig.woff') format('woff');
  }




@mixin paragraph-large ($font, $align, $weight) {
  font-family: $font;
  // speak: none;
  font-size: 1rem;
  letter-spacing: 0.034rem;
  line-height: 1.5;
  text-align: $align;
  font-weight: $weight;
  color: $primary-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media only screen and (min-width:550px) {
    font-size: 1.125rem;
  }
  @media only screen and (min-width:834px) {
    // font-size: 1.25rem;
    // letter-spacing: 0.038125rem;
  }
}

@mixin paragraph-xl ($font, $align, $weight) {
  font-family: $font, sans-serif;
  // speak: none;
  font-size: 1rem;
  letter-spacing: 0.034rem;
  line-height: 1.5;
  text-align: $align;
  font-weight: $weight;
  color: $primary-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media only screen and (min-width:550px) {
    font-size: 1.375rem;
    letter-spacing: 0.042rem;
  }
  @media only screen and (min-width:834px) {
    font-size: 1.6875rem;
    letter-spacing: 0.051rem;
  }
}

@mixin paragraph-xxl ($font, $align, $weight) {
  font-family: $font, sans-serif;
  // speak: none;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
  line-height: 1.5;
  text-align: $align;
  font-weight: $weight;
  color: $primary-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (min-width:550px) {
    font-size: 1.875rem;
  }

  @media only screen and (min-width:834px) {
    font-size: 2.1875rem;
    letter-spacing: 0.056rem;
  }

  @media only screen and (min-width:1280px) {
    font-size: 2.5rem;
    letter-spacing: 0.056rem;
  }
}

@mixin span-large ($font, $align, $weight) {
  font-family: $font, sans-serif;
  font-size: 0.75rem;
  letter-spacing: 0.116rem;
  line-height: 1.25;
  text-align: $align;
  font-weight: $weight;
  color: $primary-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media only screen and (min-width:550px) {
    font-size: 0.875rem;
    letter-spacing: 0.125rem;
  }

  @media only screen and (min-width:834px) {
    font-size: 0.9375rem;
    letter-spacing: 0.134;
  }
}

@mixin page-title ($size) {
  // font-family: 'feijoa-display';
  font-family: $font-sans-300;
  // speak: none;
  font-size: $size;
  letter-spacing: 0.3vw;
  letter-spacing: 0;
  line-height: 1;
  text-align: center;
  font-style: normal;
  color: $primary-2;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin h2 ($align) {
  // font-family: 'feijoa-display';
  font-family: $font-sans-300;
  // speak: none;
  line-height: 1.2;
  font-size: 4.75vw;
  // letter-spacing: 0.15vw;
  letter-spacing: 0;
  text-align: $align;
  font-style: normal;
  color: $primary-2;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media only screen and (min-width:834px) {
    font-family: $font-sans-200;
  }
}

//  Grids


@mixin grid-twenty-four {
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  grid-template-rows: auto;
  column-gap: 10px;
  @media only screen and (min-width:550px) {
    // column-gap: 26px;
  }
  @media only screen and (min-width:834px) {
      grid-template-columns: repeat(24, 1fr);
      column-gap: 21px;
  }
}

@mixin grid-set-yourself ($mobile-column-amount, $tablet-column-amount, $small-desktop-column-amount, $desktop-column-amount) {
  grid-template-columns: repeat($mobile-column-amount, auto);
  @media only screen and (min-width:550px) {
    grid-template-columns: repeat($tablet-column-amount, auto);
  }
  @media only screen and (min-width:834px) {
      grid-template-columns: repeat($small-desktop-column-amount, auto);
  }
  @media only screen and (min-width:1280px) {
    grid-template-columns: repeat($desktop-column-amount, auto);
  }
  display: grid;
  grid-gap: 0 30px;
  grid-template-rows: auto;
}
