<div class="iod-visual-brand case-study-wrap app-info-right">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">MY ACCOUNT</span>A focus on utility allowing busy directors with multiple board roles to keep their details current, manage their payments, bookings and opt-in to different benefits, so IoD can provide the best service possible.</h3>

        <div class="paragraph-position positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">MY PROFILE DASHBOARD</span>A consolidated way-finding dashboard with all a directors most important and actionable info in one place.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-0-my-account@1x.png 1x, ./images/projects/iod/3-0-my-account@2x.png 2x">
                <img src="./images/projects/iod/3-0-my-account@1x.png">
            </picture>

        </div>

    </div>


    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-1-my-account@1x.png 1x, ./images/projects/iod/3-1-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-1-my-account@1x.png">
        </picture>

    </div>



    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-two">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">CPD DASHBOARD</span>Allocate, update and track CPD activity to stay up-to-date and continue being the thought leaders within New Zealand governance.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-2-my-account@1x.png 1x, ./images/projects/iod/3-2-my-account@2x.png 2x">
                <img src="./images/projects/iod/3-2-my-account@1x.png">
            </picture>

        </div>

    </div>


    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-3-my-account@1x.png 1x, ./images/projects/iod/3-3-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-3-my-account@1x.png">
        </picture>

    </div>


    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-three">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">PREFERENCES</span>Members can customise what is presented to them on the site, and electronic collateral to better suit their role & interests within governance.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-4-my-account@1x.png 1x, ./images/projects/iod/3-4-my-account@2x.png 2x">
                <img src="./images/projects/iod/3-4-my-account@1x.png">
            </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-5-my-account@1x.png 1x, ./images/projects/iod/3-5-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-5-my-account@1x.png">
        </picture>

    </div>


    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">JOIN*</span>Simulaneously creating a personalised profile, creating a bespoke digital experience based on your governance interests and geo-location.</p>
            </div>
        </div>

        <div class="side-image-container">

        <picture class="side-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-6-join@1x.png 1x, ./images/projects/iod/3-6-join@2x.png 2x">
            <img src="./images/projects/iod/3-6-join@1x.png">
        </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-7-join@1x.png 1x, ./images/projects/iod/3-7-join@2x.png 2x">
            <img src="./images/projects/iod/3-7-join@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-8-join@1x.png 1x, ./images/projects/iod/3-8-join@2x.png 2x">
            <img src="./images/projects/iod/3-8-join@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-9-join@1x.png 1x, ./images/projects/iod/3-9-join@2x.png 2x">
            <img src="./images/projects/iod/3-9-join@1x.png">
        </picture>

    </div>



</div>