<div class="iod-visual-brand case-study-wrap app-info-left">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">ECOMMERCE</span>Book multiple courses & events, for individuals or large groups, within one simplified transaction.</h3>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/5-1-ecommerce@1x.png 1x, ./images/projects/iod/5-1-ecommerce@2x.png 2x">
            <img src="./images/projects/iod/5-1-ecommerce@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/5-2-ecommerce@1x.png 1x, ./images/projects/iod/5-2-ecommerce@2x.png 2x">
            <img src="./images/projects/iod/5-2-ecommerce@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/5-3-ecommerce@1x.png 1x, ./images/projects/iod/5-3-ecommerce@2x.png 2x">
            <img src="./images/projects/iod/5-3-ecommerce@1x.png">
        </picture>

    </div>

</div>

