<div class="iod-visual-brand case-study-wrap app-info-left">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">BOOKINGS SIMPLIFIED*</span>Book multiple different courses and events, for individuals or large groups, all within one simplified transaction.</h3>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/home-desktop@2x.png">
            <img src="./images/projects/iod/home-desktop@2x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/home-desktop@2x.png">
            <img src="./images/projects/iod/home-desktop@2x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/home-desktop@2x.png">
            <img src="./images/projects/iod/home-desktop@2x.png">
        </picture>

    </div>

</div>

