<div class="iod-visual-brand case-study-wrap app-info-right">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">GOING 2020 DIGITAL</span>Translating IoD's new visual-identity into a digital experience deserving of the year it's in.</h3>

        <div class="paragraph-position positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">VISUAL STYLE</span>Best in class, not snobby. Brave, not too confident. Connected, not insincere.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/1-1-brand@1x.png 1x, ./images/projects/iod/1-1-brand@2x.png 2x">
                <img src="./images/projects/iod/1-1-brand@1x.png">
            </picture>
        </div>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-two">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">TYPOGRAPHY</span>Untitled-Serif for it’s connection to New Zealand and editorial aesthetic. Untitled-Sans because the two fonts belong together, literally.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/1-2-brand@1x.png 1x, ./images/projects/iod/1-2-brand@2x.png 2x">
                <img src="./images/projects/iod/1-2-brand@1x.png">
            </picture>
        </div>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-three">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">EXTENDED PALETTE</span>We extended IoD’s colour palette, giving each colour, 9 tones allowing us to design with more naunce.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/1-3-brand@1x.png 1x, ./images/projects/iod/1-3-brand@2x.png 2x">
                <img src="./images/projects/iod/1-3-brand@1x.png">
            </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <!-- <h3 class="paragraph-xxl"><span class="span-large">DESIGN SYSTEM</span>Having this ever growing system available helped unite the whole team around a common visual language. This reduced design debt, accelerated the design process.</h3> -->
        <h3 class="paragraph-xxl"><span class="span-large">DESIGN SYSTEM</span>A growing system helping unite the whole team around a common visual language, reducing design debt, accelerating the design process and helping us all make smarter and more informed decisions.</h3>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/1-4-brand@1x.png 1x, ./images/projects/iod/1-4-brand@2x.png 2x">
            <img src="./images/projects/iod/1-4-brand@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/1-5-brand@1x.png 1x, ./images/projects/iod/1-5-brand@2x.png 2x">
            <img src="./images/projects/iod/1-5-brand@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/1-6-brand@1x.png 1x, ./images/projects/iod/1-6-brand@2x.png 2x">
            <img src="./images/projects/iod/1-6-brand@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/1-7-brand@1x.png 1x, ./images/projects/iod/1-7-brand@2x.png 2x">
            <img src="./images/projects/iod/1-7-brand@1x.png">
        </picture>

    </div>

</div>