<div class="iod-visual-brand case-study-wrap app-info-right">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">MY ACCOUNT</span>Utility focused for busy directors to keep their details current, opt-in to IoD benefits and manage payments and bookings easy.</h3>

        <div class="paragraph-position positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">MY PROFILE</span>A way-finding dashboard displaying the most actionable info in one place, so directors save time for more important things.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-0-my-account@1x.png 1x, ./images/projects/iod/3-0-my-account@2x.png 2x">
                <img src="./images/projects/iod/3-0-my-account@1x.png">
            </picture>

        </div>

    </div>


    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-1-my-account@1x.png 1x, ./images/projects/iod/3-1-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-1-my-account@1x.png">
        </picture>

    </div>



    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-two">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">CPD DASHBOARD</span>Allocate, update and track <a href="https://www.iod.org.nz/membership/cpd/cpd-points/#" target="_blank">CPD activity</a> to stay on top of governance and continue being the thought leaders of New Zealand.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-2-my-account@1x.png 1x, ./images/projects/iod/3-2-my-account@2x.png 2x">
                <img src="./images/projects/iod/3-2-my-account@1x.png">
            </picture>

        </div>

    </div>


    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-3-my-account@1x.png 1x, ./images/projects/iod/3-3-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-3-my-account@1x.png">
        </picture>

    </div>


    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-three">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">PREFERENCES</span>Members can customise their profile for a more tailored experience suitting their governance roles and interests.</p>
            </div>
        </div>

        <div class="side-image-container">

        <picture class="side-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-6-join@1x.png 1x, ./images/projects/iod/3-6-join@2x.png 2x">
            <img src="./images/projects/iod/3-6-join@1x.png">
        </picture>

        <picture class="side-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-4-my-account@1x.png 1x, ./images/projects/iod/3-4-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-4-my-account@1x.png">
        </picture>

        <picture class="side-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-6-my-account@1x.png 1x, ./images/projects/iod/3-6-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-6-my-account@1x.png">
        </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/iod/3-5-my-account@1x.png 1x, ./images/projects/iod/3-5-my-account@2x.png 2x">
            <img src="./images/projects/iod/3-5-my-account@1x.png">
        </picture>

    </div>

</div>