<div class="iod-visual-brand case-study-wrap app-info-left">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">COMPONENT FOCUSED</span>Less focus on large navigations. More focus presenting relevant content upfront through robust, well-designed components.</h3>

            <picture class="body-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/4-0-ia@1x.png 1x, ./images/projects/iod/4-0-ia@2x.png 2x">
                <img src="./images/projects/iod/4-0-ia@1x.png">
            </picture>

            <picture class="body-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/iod/4-2-ia@1x.png 1x, ./images/projects/iod/4-2-ia@2x.png 2x">
                <img src="./images/projects/iod/4-2-ia@1x.png">
            </picture>

                <picture class="body-image">
                    <source media="(min-width: 1200px)" srcset="./images/projects/iod/4-3-ia@1x.png 1x, ./images/projects/iod/4-3-ia@2x.png 2x">
                    <img src="./images/projects/iod/4-3-ia@1x.png">
                </picture>

                <picture class="body-image">
                    <source media="(min-width: 1200px)" srcset="./images/projects/iod/4-4-ia@1x.png 1x, ./images/projects/iod/4-4-ia@2x.png 2x">
                    <img src="./images/projects/iod/4-4-ia@1x.png">
                </picture>

                <picture class="body-image">
                    <source media="(min-width: 1200px)" srcset="./images/projects/iod/4-6-ia@1x.png 1x, ./images/projects/iod/4-6-ia@2x.png 2x">
                    <img src="./images/projects/iod/4-6-ia@1x.png">
                </picture>

    </div>

</div>