<div class="mercury-earn case-study-wrap app-info-left">


    <div class="case-study-grid-set">
        <h3 class="paragraph-xxl"><span class="span-large">EARN</span>Customers can earn Mercury Dollars & win prizes by completing a range of different challenges.</h3>

        <div class="paragraph-position  positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">STEP CHALLENGES</span>Enter & complete step challenges by using your human energy.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/1-1-earn-challenge-landing@1x.png 1x, ./images/projects/mergo/challenge/1-1-earn-challenge-landing@2x.png 2x">
                <img src="./images/projects/mergo/challenge/1-1-earn-challenge-landing@1x.png">
            </picture>
            {# <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/1-4-earn-challenge-landing@1x.png 1x, ./images/projects/mergo/challenge/1-4-earn-challenge-landing@2x.png 2x">
                <img src="./images/projects/mergo/challenge/1-4-earn-challenge-landing@1x.png">
            </picture> #}
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/1-5-earn-challenge-landing@1x.png 1x, ./images/projects/mergo/challenge/1-5-earn-challenge-landing@2x.png 2x">
                <img src="./images/projects/mergo/challenge/1-5-earn-challenge-landing@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/1-10-earn-challenge-landing@1x.png 1x, ./images/projects/mergo/challenge/1-10-earn-challenge-landing@2x.png 2x">
                <img src="./images/projects/mergo/challenge/1-10-earn-challenge-landing@1x.png">
            </picture>
        </div>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-two">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">STEP COUNTER</span>Watch your steps count up in real-time as you take on step challenges.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/2-3-earn-challenge-overview@1x.png 1x, ./images/projects/mergo/challenge/2-3-earn-challenge-overview@2x.png 2x">
                <img src="./images/projects/mergo/challenge/2-3-earn-challenge-overview@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/2-5-earn-challenge-overview@1x.png 1x, ./images/projects/mergo/challenge/2-5-earn-challenge-overview@2x.png 2x">
                <img src="./images/projects/mergo/challenge/2-5-earn-challenge-overview@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/2-6-earn-challenge-overview@1x.png 1x, ./images/projects/mergo/challenge/2-6-earn-challenge-overview@2x.png 2x">
                <img src="./images/projects/mergo/challenge/2-6-earn-challenge-overview@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/challenge/3-1-earn-challenge-popover@1x.png 1x, ./images/projects/mergo/challenge/3-1-earn-challenge-popover@2x.png 2x">
                <img src="./images/projects/mergo/challenge/3-1-earn-challenge-popover@1x.png">
            </picture>
        </div>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-three">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">FRIEND GET FRIEND</span>Get your friends involved using Mercury Go's simple refer-a-friend function that uses the device's native share function.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/fgf/2-1-earn-invite-your-friends-overview@1x.png 1x, ./images/projects/mergo/fgf/2-1-earn-invite-your-friends-overview@2x.png 2x">
                <img src="./images/projects/mergo/fgf/2-1-earn-invite-your-friends-overview@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/fgf/2-2-earn-invite-your-friends-overview@1x.png 1x, ./images/projects/mergo/fgf/2-2-earn-invite-your-friends-overview@2x.png 2x">
                <img src="./images/projects/mergo/fgf/2-2-earn-invite-your-friends-overview@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/fgf/3-1-earn-invite-your-friends-popover@1x.png 1x, ./images/projects/mergo/fgf/3-1-earn-invite-your-friends-popover@2x.png 2x">
                <img src="./images/projects/mergo/fgf/3-1-earn-invite-your-friends-popover@1x.png">
            </picture>
        </div>

    </div>

</div>