<div class="mercury-kog-header case-study-wrap app-info-left">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">IMMERSE & INSPIRE</span>We went all out to create something deeply immersive.</h3>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-1-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-1-kog-home@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-1-kog-home@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-2-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-2-kog-home@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-2-kog-home@1x.png">
        </picture>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">KISS OIL GOODBYE</span>Select an option & cover the screen in a burst of yellow revealing an immersive experience inspiring kiwis to 'Kiss Oil Goodbye'.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-8-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-8-kog-home@2x.png 2x">
                <img src="./images/projects/mercury-kog/1-8-kog-home@1x.png">
            </picture>

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-9-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-9-kog-home@2x.png 2x">
                <img src="./images/projects/mercury-kog/1-9-kog-home@1x.png">
            </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-3-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-3-kog-home@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-3-kog-home@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-4-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-4-kog-home@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-4-kog-home@1x.png">
        </picture>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-two">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">GIANT ILLUSTRATION</span>Glide through giant animated SVG illustrations to learn more about the different ways you can 'Kiss Oil Goodbye'.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-6-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-6-kog-home@2x.png 2x">
                <img src="./images/projects/mercury-kog/1-6-kog-home@1x.png">
            </picture>

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-7-kog-home@1x.png 1x, ./images/projects/mercury-kog/1-7-kog-home@2x.png 2x">
                <img src="./images/projects/mercury-kog/1-7-kog-home@1x.png">
            </picture>

        </div>

    </div>

</div>

