<div class="mercury-earn case-study-wrap app-hero">

    <div class="case-study-grid-set">

        <div class="text-position">
            <div class="sticky-boy">
                <h3 class="paragraph-xxl"><span class="span-large">RAISE & SHAKE YOUR LAKE</span>Inspired by Mercury’s close relationship to the Waikato River, any Mercury Dollars you earn is represented by raising your “real physics” digital water level, that’s controlled by your phones gyroscope.</h3>
            </div>
        </div>

        <picture>
            <source media="(min-width: 1200px)" srcset="./images/projects/mergo/rewards-landing-shaking@1x.png">
            <img src="./images/projects/mergo/rewards-landing-shaking@1x.png">
        </picture>

    </div>

</div>