<div class="mercury-kog-header case-study-wrap app-info-right">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">NO BOUNDARIES</span>We ran away from restrictive fixed widths, & created component driven, full width layouts that have all the breathing space.</h3>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-1-kog-components@1x.png 1x, ./images/projects/mercury-kog/1-1-kog-components@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-1-kog-components@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-2-kog-components@1x.png 1x, ./images/projects/mercury-kog/1-2-kog-components@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-2-kog-components@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-3-kog-components@1x.png 1x, ./images/projects/mercury-kog/1-3-kog-components@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-3-kog-components@1x.png">
        </picture>

        <picture class="body-image">
            <source media="(min-width: 1200px)" srcset="./images/projects/mercury-kog/1-4-kog-components@1x.png 1x, ./images/projects/mercury-kog/1-4-kog-components@2x.png 2x">
            <img src="./images/projects/mercury-kog/1-4-kog-components@1x.png">
        </picture>

    </div>

</div>

