<div class="mercury-earn case-study-wrap app-info-left">


    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">MY ACCOUNT</span>We worked closely with Mercury’s API team to improve & implement new 'My Account' functionality, allowing us to empower customers in different ways about their usage.</h3>
        {# <h3 class="paragraph-xxl"><span class="span-large">MY ACCOUNT</span>We worked closely with Mercury’s API team to improve & implement new My Account functionality, as well as integrating with their current API’s, allowing us to empower customers in different ways about their power usage.</h3> #}

        <div class="paragraph-position positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">YOUR BILL</span>View & pay your bill balance faster.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/my-account/1-1-my-account@1x.png 1x, ./images/projects/mergo/my-account/1-1-my-account@2x.png 2x">
                <img src="./images/projects/mergo/my-account/1-1-my-account@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/my-account/1-3-my-account@1x.png 1x, ./images/projects/mergo/my-account/1-3-my-account@2x.png 2x">
                <img src="./images/projects/mergo/my-account/1-3-my-account@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/my-account/1-4-my-account@1x.png 1x, ./images/projects/mergo/my-account/1-4-my-account@2x.png 2x">
                <img src="./images/projects/mergo/my-account/1-4-my-account@1x.png">
            </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-two">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">MULTIPLE ACCOUNTS</span>Easily swap between your Mercury accounts.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/my-account/1-7-my-account@1x.png 1x, ./images/projects/mergo/my-account/1-7-my-account@2x.png 2x">
                <img src="./images/projects/mergo/my-account/1-7-my-account@1x.png">
            </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-three">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">USAGE</span>Make smarter decisions about your power consumption by swipe & tapping the graphs to see your bill & daily usage breakdowns.</p>
            </div>
        </div>

        <div class="side-image-container">
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/my-account/1-11-my-account@1x.png 1x, ./images/projects/mergo/my-account/1-11-my-account@2x.png 2x">
                <img src="./images/projects/mergo/my-account/1-11-my-account@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/my-account/1-19-my-account@1x.png 1x, ./images/projects/mergo/my-account/1-19-my-account@2x.png 2x">
                <img src="./images/projects/mergo/my-account/1-19-my-account@1x.png">
            </picture>

        </div>

    </div>

</div>