<div class="mercury-earn case-study-wrap app-hero">

    <div class="case-study-grid-set">

        <div class="text-position">
            <div class="sticky-boy">
                <h3 class="paragraph-xxl"><span class="span-large">RISE & SHAKE YOUR LAKE</span>Inspired by Hydro, Mercury's main source of power generation, any Mercury Dollars you earn are represented by raising of your “real physics” digital lake level, controlled by your phone's gyroscope.</h3>
            </div>
        </div>

        <picture>
            <source media="(min-width: 1200px)" srcset="./images/projects/mergo/rewards-landing-shaking@1x.png">
            <img src="./images/projects/mergo/rewards-landing-shaking@1x.png">
        </picture>

    </div>

</div>