<div class="mercury-earn case-study-wrap app-info-right">

    <div class="case-study-grid-set">

        <h3 class="paragraph-xxl"><span class="span-large">ONBOARDING</span>Empowering customers to explore & discover, so they can do all the important things faster.</h3>

        <div class="paragraph-position positioning-one">
            <div class="sticky-boy">
                <p class="paragraph-x"><span class="span-large">LOGIN SCREENS</span>Customer or not, get the bigger picture & see what Mercury Go has to offer.</p>
                {# <p class="paragraph-x"><span class="span-large">LOGIN SCREENS</span>Customer or not, get the bigger picture &amp; see what Mercury Go has to offer, before needing to login.</p> #}
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/discovery/1-1-log-in-slides@1x.png 1x, ./images/projects/mergo/discovery/1-1-log-in-slides@2x.png 2x">
                <img src="./images/projects/mergo/discovery/1-1-log-in-slides@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/discovery/1-2-log-in-slides@1x.png 1x, ./images/projects/mergo/discovery/1-2-log-in-slides@2x.png 2x">
                <img src="./images/projects/mergo/discovery/1-2-log-in-slides@1x.png">
            </picture>

        </div>

    </div>

    <div class="case-study-grid-set">

        <div class="paragraph-position positioning-two">
            <div class="sticky-boy">
                <p class="paragraph-xl"><span class="span-large">DISCOVERY HELPERS</span>Helping customer's discovery through Mercury Go & it's key functionality, "Discovery Helpers" appear throughout.</p>
            </div>
        </div>

        <div class="side-image-container">

            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/discovery/2-2-discovery-spend-overview@1x.png 1x, ./images/projects/mergo/discovery/2-2-discovery-spend-overview@2x.png 2x">
                <img src="./images/projects/mergo/discovery/2-2-discovery-spend-overview@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/discovery/2-3-discovery-earn-landing@1x.png 1x, ./images/projects/mergo/discovery/2-3-discovery-earn-landing@2x.png 2x">
                <img src="./images/projects/mergo/discovery/2-3-discovery-earn-landing@1x.png">
            </picture>
            <picture class="side-image">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/discovery/2-4-discovery-earn-challenge-overview@1x.png 1x, ./images/projects/mergo/discovery/2-4-discovery-earn-challenge-overview@2x.png 2x">
                <img src="./images/projects/mergo/discovery/2-4-discovery-earn-challenge-overview@1x.png">
            </picture>

        </div>

    </div>



</div>