<!-- <img class="logo" src="./images/logo.svg" alt="Bradley Davis Logo"> -->


<div class="reveal-boy">
    <div class="navWrap">
        <nav class="navPrimaryWrap">
            <ul class="nav-ul">
                <li><a href="./index.njk">Bradley Davis</a></li>
                <li><a href="./mercury-go.njk">Mercury Go</a></li>
                <li><a href="./iod.njk">IOD</a></li>
                {# <li><a href="./about.njk">Mercury Kiss Oil Goodbye</a></li> #}
            </ul>
        </nav>

        <div class="navContactWrap">
            <ul class="contact-ul">
                <li><a href="#">bradleydavis88@gmail.com</a></li>
                {# <li><a href="tel:+6421484018">+64 21 484 018</a></li> #}
            </ul>
        </div>
    </div>
</div>

