{# <div class="connector-line"></div> #}

<div class="next-project next-project--iod">

    <a href="./mercury-kog.njk" class="next-project-text"><span>Next — </span>Kiss Oil Goodbye</a>

    <a href="./mercury-kog.njk">
        <picture>
            <source media="(min-width: 834px)" srcset="./images/projects/mercury-kog/1-1-kog-home@2x.png">
            <img src="./images/projects/mercury-kog/1-1-kog-home@2x.png">
        </picture>
    </a>

</div>