{% extends "./layout/layout.njk" %}
{% import "./components/navigation.njk" as navMacros %}
{% block content %}

{{ navMacros.navigation('catchdesign') }}

<div class="catchdesign-page outer-grid-set next-project-margin">

    <div class="page-title" data-scroll-speed="-2">
        <h1>Catch Design</h1>
    </div>

    <div class="image-hero-grid">
        <div class="hero-wrap video-wrap video-wrap--ipad">
            <video autoplay playsinline muted loop>
                <source src="./videos/logo-animation-vivid-blue-bg.mp4" type="video/mp4">
            </video>
            <picture class="image-hero image-hero-large">
                <source media="(min-width: 1200px)" srcset="./images/ipad-mask@1x.png 1x, ./images/ipad-mask@2x.png 2x">
                    <img src="./images/ipad-mask@1x.png">
            </picture>
        </div>
    </div>

    <div class="breakdown-wrap">
        <div class="breakdown-grid-set">
            <p class="breakdown-component paragraph-large"><span class="span-large">CLIENT</span>Mercury</p>
            <p class="breakdown-component paragraph-large"><span class="span-large">PLATFORM</span>Website transformation</p>
            <p class="breakdown-component paragraph-large"><span class="span-large">MY ROLE</span>Lead UX/UI Designer </br>SVG animation</p>
            <p class="breakdown-component paragraph-large"><span class="span-large">DEVLIVERY</span>Dec 2019 - Feb 2020</p>
        </div>
    </div>

    <div class="big-text-position">
        <h2 class="big-text">
            We delivered an experience that inspires the people of <span class="show-parts"> <span class="trigger">New Zealand</span><span class="hide"> that their actions <span class="show-parts"> <span class="trigger">matter</span><span class="hide">. That they can make a <span class="show-parts"><span class="trigger">difference</span><span class="hide"> by switching to e.transport & joining the <span class="show-parts"><span class="trigger">electric revolution</span><span class="hide"> to Kiss Oil Goodye</span></span></span></span></span></span></span>.
        </h2>
    </div>

    {% include "./components/mercury-kog-header_case-study_info-left.njk" %}

    {% include "./components/mercury-kog-components_case-study_info-right.njk" %}


    <div class="big-text-position last-page-component">
        <p class="big-text position-two">
            We continue to plan, prioritise and deliver outcome focused improvements.
        </p>
    </div>

</div>


{% include "./components/next-project-iod.njk" %}

{% endblock %}