{% extends "./layout/layout.njk" %}
{% import "./components/navigation.njk" as navMacros %}
{% block content %}

{{ navMacros.navigation('home') }}

<div class="outer-grid-set nav-push homepage">

    <div class="big-text-position">

        <h1 class="big-text story">
            Welcome to my
            <span class="show-parts"><span class="trigger">world</span><span class="hide color-change"> of the past few  <span class="show-parts"> <span class="trigger"> years.</span><span class="hide">  Enjoy your <span class="show-parts"> <span class="trigger"> stay</span><span class="hide">, and have a great day</span></span>.
        </h1>

        <picture class="image-me">
            <source srcset="./images/me@1x.jpg 1x, ./images/me@2x.jpg 2x">
            <img src="./images/me@1x.jpg">
        </picture>

        <h2 class="big-text story">
            {# I'm a super great senior UX / UI designer based in Wellington,<span class="show-parts"> <span class="trigger"> New Zealand</span><span class="hide">. I'm happiest when collaborating closely with my <span class="show-parts"> <span class="trigger">team</span><span class="hide"> to craft thoughtful <span class="show-parts"> <span class="trigger">dreams</span><span class="hide"> for our gorgeous clients, that people love</span></span></span></span></span>. #}
            I'm a super great senior UX / UI designer based in Wellington,<span class="show-parts"> <span class="trigger"> New Zealand.</span><span class="hide"> I will always strive to design products that have a positive impact on the<span class="show-parts"> <span class="trigger"> community</span><span class="hide"> and to be a positive force within the <span class="show-parts"> <span class="trigger">workplace</span><span class="hide">. Whether optimising a process, designing a reusable component-driven interface, solving an interaction or leading design on a project, I am dedicated through my love of<span class="show-parts"> <span class="trigger"> collaboration</span><span class="hide"> to craft and deliver the value clients need and that customers love. That’s my focus</span></span></span></span></span>.
            {# I will always strive to design products that have a positive impact on the community and to be a positive force within the workplace. Whether optimising a process, designing a reusable component-driven interface, solving an interaction or leading design on a project, I am dedicated through my love of collaboration to craft and deliver the value clients need and that customers love. That’s my focus. #}
        </h2>

        <ul>
            <li class="list-title">KEY SKILLS</li>
            <li>Detailed component driven design</li>
            <li>User journeys (also using detailed designs)</li>
            <li>Wire-framing</li>
            <li>Prototyping / Animated mocks</li>
            <li>Digital Brands</li>
            <li>Design Systems / Pattern Libraries</li>
            <li>Site mapping</li>
            <li>Service Blueprints</li>
            <li>HTML / CSS</li>
        </ul>

        <ul>
            <li class="list-title">SOFTWARE & TOOLS</li>
            <li>Sketch</li>
            <li>Figma</li>
            <li>InVision Studio, Prototyping and Freehand</li>
            <li>Silverstripe</li>
        </ul>

        <h2 class="big-text story">
            Working in design makes me<span class="show-parts"> <span class="trigger">blush</span><span class="hide">. This means I'm not dragging my<span class="show-parts"> <span class="hide">cute little </span> <span class="trigger">butt</span> </span>out of<span class="show-parts"> <span class="trigger">bed each morning</span><span class="hide">. I'd be very sad if I wasn't part of this industry</span></span></span></span>.
        </h2>

        {# <h2 class="big-text story"> #}
            {# My current role of five years with Catch, involves leading design on a diverse range of <span class="show-parts"> <span class="trigger">projects</span><span class="hide">. Delivering to client <span class="show-parts"> <span class="trigger">roadmaps</span><span class="hide">, to get them the value they <span class="show-parts"> <span class="trigger"> need</span><span class="hide">. That's my focus</span></span></span></span></span></span>. #}
            {# At Catch Design my role involves leading design through my love of collaboration on a diverse range of <span class="show-parts"> <span class="trigger">projects</span><span class="hide">, primarily with Mercury, Institute of Directors NZ and 2degrees.</span></span>. #}
        {# </h2> #}

        <ul>
            <li class="list-title">MOTIVATORS</li>
            <li>Design Direction and close collaboration with my team</li>
            <li>Being a siphon for good ideas</li>
            <li>Designing reusable, maintainable and component driven interfaces</li>
            <li>Translating and extending print branding to the web</li>
            <li>Design Systems / Pattern Libraries</li>
            <li>Staying relevant and keeping up with the latest design, development and project technologies</li>
            <li>Being a positive force</li>
        </ul>

        <picture class="image-me">
            <source srcset="./images/mayo.jpg 1x, ./images/mayo@2x.jpg 2x">
            <img src="./images/mayo.jpg">
        </picture>

        <h2 class="big-text story">
            I try to stay fresh, and always valuable to my <span class="show-parts"> <span class="trigger">team</span><span class="hide">. It's essential that I learn, and grow my <span class="show-parts"> <span class="trigger">knowledge</span><span class="hide"> in overlapping areas to build <span class="show-parts"> <span class="trigger">bridges</span><span class="hide">. I made this site using new front-end standards, trends and a little bit of <span class="show-parts"> <span class="trigger"> help</span><span class="hide">, so I can have a more empathetic approach when working with my team. I believe great designers aren't just designers</span></span></span></span></span></span></span></span></span></span></span></span></span>.
        </h2>

        <ul>
            <li class="list-title">CURRENT LEARNINGS</li>
            <li>Animated SVG's / SMIL animation</li>
            <li>Scalable design</li>
            <li>CSS grids</li>
            <li>Variable fonts</li>
            <li>Affinity Designer</li>
            <li>After effects (for animated mocks)</li>
        </ul>

        <h2 class="big-text story">
            I've had the pleasure to work with some pretty incredible organisations over the<span class="show-parts"> <span class="trigger"> years</span><span class="hide">, and even more so, the people within them</span></span>.
        </h2>

        <ul>
            <li class="list-title">RECENT CLIENTS</li>
            <li>Mercury</li>
            <li>2degrees</li>
            <li>Institute of Directors, New Zealand</li>
            <li>NZ Olympic Committee</li>
            <li>Workshop e</li>
            <li>Toi-Ohomai - Institute of Technology</li>
            <!-- <li>Life Education Trust</li> -->
            <!-- <li>ACG schools</li> -->
            <!-- <li>Digital NZ</li> -->
            <!-- <li>Natlib</li> -->
            <!-- <li>Farm Source</li> -->
        </ul>
    </div>
</div>

{# <img class="bg-animation" src="images/bg-animation-2.svg" alt="Saucing the dog"> #}


{% endblock %}