{% extends "./layout/layout.njk" %}
{% import "./components/navigation.njk" as navMacros %}
{% block content %}

{{ navMacros.navigation('mercury-go') }}

<div class="mercury-go-page outer-grid-set next-project-margin">

    <div class="page-title" data-scroll-speed="-2">
        <h1>Mercury Go</h1>
    </div>

    <div class="image-hero-grid">
        <div class="hero-wrap">
            <picture class="image-hero image-hero-large">
                <source media="(min-width: 1200px)" srcset="./images/projects/mergo/0-1-hero@1x.png 1x, ./images/projects/mergo/0-1-hero@2x.png 2x">
                <img src="./images/projects/mergo/0-1-hero@1x.png">
            </picture>
        </div>
    </div>

    <div class="breakdown-wrap">
        <div class="breakdown-grid-set">
            <p class="breakdown-component paragraph-large"><span class="span-large">CLIENT</span>Mercury</p>
            <p class="breakdown-component paragraph-large"><span class="span-large">PLATFORM</span>Native iOS & Android</p>
            <p class="breakdown-component paragraph-large"><span class="span-large">MY ROLE</span>Lead UX/UI Designer</p>
            <p class="breakdown-component paragraph-large"><span class="span-large">DELIVERY</span>Jun 2017 - Jun 2018</p>
        </div>
    </div>

    <div class="big-text-position">
        <h2 class="big-text">
            Pushing for positivity, we delivered Mercury an app that <span class="show-parts"> <span class="trigger">stands out</span><span class="hide">. Our main goal was to inspire customers about "wonderful energy" by offering something <span class="show-parts"> <span class="trigger">meaningful and beneficial</span><span class="hide"> that they can proudly get <span class="show-parts"> <span class="trigger">behind</span><span class="hide">. This isn't a standard utility power app</span></span></span></span></span></span>.
        </h2>
    </div>

    {% include "./components/mercury-earn_case-study_app_info-left.njk" %}
    {% include "./components/mercury-rewards_case-study_app_hero.njk" %}
    {% include "./components/mercury-spend_case-study_app_info-right.njk" %}
    {% include "./components/mercury-my-account_case-study_app_info-left.njk" %}
    {% include "./components/mercury-discovery_case-study_app_info-right.njk" %}

    <div class="big-text-position last-page-component">
        <h3 class="big-text position-two">
            We continue to plan, prioritise and deliver outcome focused improvements, within 2 week sprints.
        </h3>
    </div>

</div>


{% include "./components/next-project-mercury-kog.njk" %}

{% endblock %}